<h1>Dashboard</h1>
<p>Welcome {{user.name}}</p>

<video></video>

<div>
    <button id="btn-start-recording">Start Recording</button>
    <button id="btn-stop-recording" disabled="">Stop Recording</button>
</div>

<!--<script src="../node_modules/recordrtc/RecordRTC.js"> </script>-->
<script src="/scripts/handlestreams.js"></script>
       